/lesson*/terraform/.terraform
/lesson*/terraform/**/.terraform
/lesson*/terraform/terraform.tfstate
/lesson*/terraform/terraform.tfstate.backup
/lesson*/terraform/.terraform.lock.hcl
/Terraform-Topics
/terraform/*