/week*/terraform/.terraform
/week*/terraform/**/.terraform
/week*/terraform/terraform.tfstate
/week*/terraform/terraform.tfstate.backup
/week*/terraform/.terraform.lock.hcl
/Terraform-Topics
/terraform/*